{% extends "layout_template.html" %}
<html>
    <body>
        {% block top_body %}
        {{ super() }}
        <h2>Gift Catelogue</h2> 
        {% for pds in product_list %}
        <div><a href="/product/{{ pds.pid }}">><b>{{ pds.name }}</b></a> - {{ pds.description }}</div>
        {% endfor %}
        
        <h3>Search by category</h3>
        {% for cat in category_list %}
        <input type="checkbox" name="vehicle" value="{{cat.cat_id}}"> {{cat.name}} </br>
        {% endfor %}

        {% endblock %}
    </body>

</html>
