{% extends "layout_template.html" %}
<html>
    <style>
        body{ 
            font-size: 15pt;
            font-family: arial;
        }
    </style>


    <body>

        {% block top_body %}
        {{ super() }}

        <h1>Make Purchase</h1>
        <div><b>You are about to purchase:</b></div>
        <div>Product id: {{product_id}}</div>
        <div>Product name: {{product_name}}</div>

        </br>


        <form method="POST" action="/purchase">

            <input type="radio" name="select_addr" value="existing_addr" checked>Use existing address</br>
            <input type="radio" name="select_addr" value="new_addr">Input new address</br>


            Select address from your list:
            <select name="recipient_addr_id">
            {% for addr in address_list %}
                <option value="{{ addr.add_id }}">{{ addr.name }} - {{ addr.street_info }}</option>
            {% endfor %}
        </select>
        </br>

            Or input a new address:

            <p>Recipient name: <input type="text" name="recipient_name"> </br> 
            Address: 
            Street: <input type="text" name="recipient_street"> </br>
            City: <input type="text" name="recipient_city"> </br>
            State: <input type="text" name="recipient_state"> </br>
            Zip: <input type="text" name="recipient_zip"> </br>


            <input type="submit" value="Make purchase">
            </p>
        </form>


        {% endblock %}

    </body>


</html>
