{% extends "layout_template.html" %}
<html>
    <body>
        {% block top_body %}
        {{ super() }}

        <h2>{{product_name}}</h2>
        
        <div>Price: ${{product_price}}</div> 
        <div>Quantity: {{product_quantity}}</div>
        <div>Rating: {{product_rating}}/10</div>
        <div>Description: {{product_description}}</div>


        <form method="GET" action="/purchase_product/{{product_id}}">
            <input type="submit" value="Purchase this product"></p>
        </form>



        {% endblock %}
    </body>

</html>
